/* Import Google Fonts for Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Main body styling */
body {
    padding: 10%;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Updated font-family */
    /* Dark theme background */
    /* background-color: #0F172C; */
    background-color: #0C1223;
    /* Light text color for contrast */
    /* color: #94a3b8; */
    color: #e2e8f0; 
    scroll-behavior: smooth; /* Smooth scrolling */
    cursor: default;
}

/* Sidebar */
.sidebar {
    position: fixed;
    width: 22%;
    padding: 1%;
    padding-top: 3.5rem;
    color: inherit; /* Light text color in sidebar */
    box-shadow: none; /* Removed box shadow */
    background: none; /* No background color */
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Scroll if content overflows */
}

/* Main Panel */
.main-panel {
    margin-left: 30%;
    width: 68%;
    padding: 1%;
    color: inherit; /* Light text color in main panel */
    position: relative; /* For pseudo-element positioning */
    overflow: hidden; /* Hide overflow to keep fade effect clean */
}

/* Fade-out Effect */
.main-panel::before {
    content: "";
    position: fixed;
    height: 200px;
    width: 100%;
    top: -80px;
    z-index: 999;
    background: linear-gradient(to bottom, 
        rgba(31, 31, 31, 0) 0%,
        rgba(31, 31, 31, 0.75) 25%,
        rgba(31, 31, 31, 0.50) 50%,
        rgba(31, 31, 31, 0.25) 75%,
        rgba(31, 31, 31, 0) 100%
    );
    pointer-events: none; /* Ensures it doesn't interfere with content interactions */
}
.main-panel::after {
    content: "";
    position: fixed;
    height: 150px;
    width: 100%;
    bottom: -40px;
    z-index: 999;
    background: linear-gradient(to top, 
        rgba(31, 31, 31, 1) 0%,
        rgba(31, 31, 31, 0.25) 25%,
        rgba(31, 31, 31, 0.50) 50%,
        rgba(31, 31, 31, 0.25) 75%,
        rgba(31, 31, 31, 0) 100%
    );
    pointer-events: none; /* Ensures it doesn't interfere with content interactions */
}
/* Tabs Navigation */
.tabs-navigation {
    margin-top: 48px;
}

.tab-link {
    display: block;
    padding: 10px 0;
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 8px;
    border-radius: 4px;
    opacity: 0.75;
    transition: color 0.3s;
}

.tab-link.active, .tab-link:hover {
    opacity: 1;
    color: #e2e8f0; /* Blue color for active tabs */
}

.tab-link::before {
    min-width: 0px;
    transform: scaleX(0)
}
.tab-link.active::before, .tab-link:hover::before {
    content: '→ ';
    transform: scale(1.5);
    width: 120px;
    /* transition: transform 3s; */
    
}

/* Section Headers */
h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

/* Game Item */
.game-item {
    width: 240px;
    height: 240px;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.game-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-item:hover {
    transform: scale(1.05); /* Slightly scale on hover */
}

/* Project Item */
.project-item {
    margin-bottom: 24px;
}

/* Experience Item */
.experience-item {
    padding-bottom: 2rem;
    /* margin-bottom: 16px; */
    border-bottom: 1px solid #e2e8f0;

}

/* Skills Chips */
.chip {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    margin: 5px;
    background-color: #21102e;
    cursor: pointer;
    color: inherit;
    border: 1px solid #242424;
    border-radius: 16px;
    font-size: 14px;
}
.chip:hover {
    border: 1px solid white;
    transition: border 0.3s;
    box-shadow: #0F172C;
    /* transition-duration: 1s; */
}

.hobby-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 22px;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    color: inherit;
    border: 1px solid transparent;
    /* border-bottom: 1px solid #e2e8f0; */
}
.hobby-item:hover {
    border-color: white;
    transition: border-color 0.5s;
}
.hobby-item:hover .arrow {
    opacity: 1;
    transition: opacity 0.5s;
}
.hobby-item .arrow {
    opacity: 0;
}
.hobby-item p {
    margin: 0;
}

.hobby-header {
    display: flex;
    gap: 8px;
    align-items: center;
}
.hobby-header img {
    height: 32px;
    width: 32px;
}
.hobby-header h3 {
    margin: 0px;
}
/* Scroll animations */
html {
    scroll-behavior: smooth;
}

/* Scroll Detection */
section {
    position: relative;
    padding-bottom: 26px; /* Ensures sections don't hide behind fixed header */
}
section h2 {
    margin-top: 0px;
    font-size: 28px;
    margin-bottom: 68px;
    margin-bottom: 48px;

    /* Without profile pic */
    margin-top: 20px;
    /* margin-bottom: 48px; */


}
section .experience-item h3 {
    margin-top: 54px;
}

section#hobby-projects {
    margin-top: 2rem;
}
/* Header Styling */
header {
    background: #007bff; /* Updated header background color */
    color: #f0f0f0; /* Light text color in header */
    padding: 16px;
}

header {
    margin: 0;
}

h1, h2, h3 {
    color: #e2e8f0;
    /* color: lightblue; */
    /* color: lightcyan; */
    opacity: 0.95;
    /* color: #ceead4; */
}

.company-details {
    margin-top: 20px;
    font-size: 16px;
}

.company-logo {
    height: 20px; /* Adjusted logo height */
}

.date {
    /* color: lightgray; */
    opacity: 0.65;
    font-size: 12.5px;
    margin-left: 12px;
}
.date::before {
    content: ' | '
}

.company-details {
    display: flex;
    align-items: center;
    gap: 8px;
}

img {
    border-radius: 12px;
}

img.logo {
    height: 17px;
    aspect-ratio: 1;
    border-radius: 2px;
}

.m-l-6 {
    margin-left: 24px;
}

a {
    text-decoration: none;
    color: white;
}
a:not(.hobby-item, .tab-link):hover {
    text-decoration: underline;
}

@media only screen and (max-width: 728px) {
    body { padding: 0 6%; }
    .sidebar {
        position: relative;
        height: auto;
        width: 90dvw;
        padding-top: 0.5rem;

        position: sticky;
        top: 0px;
        display: flex;
        /* gap: 1rem; */
        justify-content: space-between;
        align-items: flex-start;
        z-index: 99998;
        background-color: inherit;
        border-bottom: 1px solid #e2e8f0;
        box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2);
    }

    .profile h1 {
        font-size: 1.25rem;
        margin: 4px 0;
    }
    .profile p {
        font-size: 0.75rem;
        margin: 0;
    }

    .main-panel {
        margin: 0%;
        padding: 10%;
        width: 80%;
    }
    /* .main-panel::before {
        height: 20px;
        width: 100%; 
    } */
    .tabs-navigation {
        display: flex;
        gap: 8px;
        position: sticky;
        top: 0px;
        margin-top: 8px;
    }
    .tab-link.active::before, .tab-link:hover::before {
        content: '';
    }
    .tab-link.active, .tab-link:hover {
        content: '';
    }
    
    .tabs-navigation a{
        font-size: 0.72rem;
    }
    section {
        padding-top: 4.4rem;
        padding-bottom: 0px;
    }
  }

  canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
    z-index: 99999
  }

  .underline {
    text-decoration: underline !important;
  }

  .tooltip {
    position: absolute;
    left: 0px;
    top: 40px;
    z-index: 999999;
    border: 1px solid white;

    background: white;
    color: #242424;
    border: 1px solid #242424;

    padding: 5px;
    width: 100%;
    min-width: 140px;
    border-radius: 2px;
    animation: tooltipAnimate .3s forwards;
  }

  @keyframes tooltipAnimate { from { opacity: 0; } to { opacity: 1; }}